.user-component {
  margin-top: 10px;
}

.user-component:first-child {
  width: 420px;
  margin-left: 20px;
  height: 100%;
}

.user-component:nth-child(2) {
  width: calc(100% - 470px);
  height: 100%;
}

.user-component__title {
  font-size: 22px;
  padding: 14px 0px;
  background-color: #3b89ff;
  color: #ffffff;
  border: solid 1px #1f74f3;
}

.user-component:nth-child(2) .user-component__title {
  background-color: #e2e2e2;
  color: #000;
  border: solid 1px #d8d6d6;
  border-radius: 2px;
}

.user-component__title span {
  padding: 12px;
}

.user-component .label {
  width: 200px;
  text-align: center;
}
