.menu-title{border-bottom:solid 1px; width:75px; margin-bottom: 10px; display:none;}
.left-area{float:left; box-sizing: border-box;}
.right-area{float:right; box-sizing: border-box;}
.number-field{text-align:right}
.date-field{text-align:center;}
.hyper-field{color: blue; text-decoration: underline; cursor:pointer;}
.input-box-area{border: solid 1px; width:310px; padding: 5px; border-radius: 2px;}
.label-field{text-align:right; display: inline-block; height: 25px; margin-top: 5px;}
.label-area{width:75px;}
.list-area{width:calc(100% - 320px); height: 98vh; padding-left: 8px;}
.input-area{width:calc(300px - 80px);}
div.input-area>div>input{width:205px; padding: 0px; height: 20px;}
.total-field{text-align: right;}
.save-button{width:100%; margin-top: 10px; height: 32px; border-radius: 15px; border: solid 1px #666666; background-color: #cecece;}
.modal{position: absolute;top: 90vh;left: 90vw; display:none;}
.visible{display:block;}
.required{color:red; font-weight:bold;}
input[type=number]{text-align:right;}
.input-field{height: 25px; margin-top: 5px;}
.readonly-field{background-color: #bbbbbb; border: solid 1px #666666; padding: 0px 1px !important; color: #464646;}
tr:nth-child(2)>td{border: none;}
tr:last-child>td{border-bottom: solid 1px #000000;}
table{border-spacing: 0px;}
.order-field{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 50px;}
.date-field{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 90px;}
.car-field{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 70px;}
.item-field{text-align: center; border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 200px;}
.quantity-field{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 50px;}
.price-field{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 90px;}
.overpay-field{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; width: 90px;}
.sum-field{text-align: right;  border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; border-right: solid 1px #000000; width: 150px;}
caption{border: solid 1px #bbbbbb; background-color: #cecece; padding: 6px; margin-bottom: 5px;}
th{border: none; border-top: solid 1px #000000; border-left: solid 1px #000000; border-bottom: solid 1px #000000; padding: 4px; background-color:#aeaeae;}
th:last-child{border-right: solid 1px #000000;}
#input-bike-number::-webkit-outer-spin-button, #input-bike-number::-webkit-inner-spin-button{-webkit-appearance: none; margin: 0px 0px 0px 15px;}