.menu-title{border-bottom:solid 1px; width:75px;}
.left-area{float:left; box-sizing: border-box;}
.right-area{float:right; box-sizing: border-box;}
.number-field{text-align:right}
.data-field{text-align:center;}
.hyper-field{color: blue; text-decoration: underline; cursor:pointer;}
.input-box-area{border: solid 1px; width:230px;}
.label-field{text-align:right;}
.label-area{width:70px;}
.list-area{width:75vw;}
.input-area{width:calc(230px - 80px);}
div.input-area>div>input{width:125px;}
.total-field{border: none; text-align: right;}
.save-button{width:100%;}
.half-left-area{width:50%; float:left;}
.half-right-area{width:50%; float:right;}