.print-area {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  display: none;
}
.print-show {
  display: block;
}
.print-size {
  width: 210mm;
  height: 297mm;
}
.copyright-area {
  width: 100vw;
  background-color: #444444;
  text-align: center;
}
.hidden-area {
  display: none;
}
