.input-box-area {
  border: solid 1px #aaaaaa;
  width: 380px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fbfbfb;
}
.left-area {
  float: left;
  box-sizing: border-box;
}
.label-field {
  text-align: right;
  display: inline-block;
  height: 25px;
  margin-top: 5px;
}
.label-area {
  width: 90px;
}

.right-area {
  width : calc(100% - 400px);
  float: right;
  box-sizing: border-box;
}

.number-field {
  text-align: right;
}

.input-area {
  width: calc(370px - 95px);
}
.input-field {
  height: 25px;
  margin-top: 5px;
}
.required {
  color: red;
  font-weight: bold;
}
div.input-area > div > input {
  width: 268px;
  padding: 0px;
  height: 20px;
  margin-left: 2px;
}
.total-field {
  text-align: right;
}
.function-button {
  width: 100%;
  margin-top: 10px;
  height: 32px;
  border-radius: 15px;
  font-size: 16px;
  padding-bottom: 3px;
  cursor: pointer;
}
.red-button {
  border: solid 1px #fb3d3d;
  background-color: #ff4c4c;
  color: #ffffff;
}
.red-button:hover {
  border: solid 2px #fb3d3d;
  background-color: #ffffff;
  color: #ff4c4c;
}
div.input-area > div > input[type='checkbox'] {
  width: 25px;
  margin-left: 0px;
}
#input-order-date{
    width: 125px;
}
.print-area {
    width: 195mm;
    /* height: 297mm; */
    border: solid 2px #888888;
    border-radius: 5px;
    margin-left: 16px;
    margin-bottom: 16px;
}