HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/src/main/resources/static/cra/node_modules
**/src/main/resources/static/cra/.pnp
**/src/main/resources/static/cra/.pnp.js

# testing
**/src/main/resources/static/cra/coverage

# production
**/src/main/resources/static/cra/build

# misc
**/src/main/resources/static/cra/.DS_Store
**/src/main/resources/static/cra/.env
**/src/main/resources/static/cra/.env.local
**/src/main/resources/static/cra/.env.development.local
**/src/main/resources/static/cra/.env.test.local
**/src/main/resources/static/cra/.env.production.local

**/src/main/resources/static/cra/npm-debug.log*
**/src/main/resources/static/cra/yarn-debug.log*
**/src/main/resources/static/cra/yarn-error.log*