<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ko">

<head>
    <title>Spring Security Example </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/static/css/biz/login.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/ajax/Ajax.js}"></script>
</head>

<body>
    <div class="container">
        <div class="notiArea" th:if="${param.error}"><h3 class="yellow">사용자명 혹은 비밀번호가 틀렸습니다.</h3></div>
        <div class="notiArea" th:if="${param.logout}"><h3 class="red">로그아웃 되었습니다.</h3></div>
        <div class="blueBg">
            <div class="box signin">
                <h2>계정이 이미 있으신가요 ?</h2>
                <button class="signinBtn">Sign in</button>
            </div>
            <div class="box signup">
                <h2>계정이 없으신가요 ?</h2>
                <button class="signupBtn">Sign up</button>
            </div>
            <div class="formBx">
                <div class="form signinForm">
                    <form th:action="@{/login}" method="post">
                        <h3>Sign In</h3>
                        <input type="text" placeholder="Username" name="username" />
                        <input type="password" placeholder="Password" name="password" />
                        <div><input type="submit" value="Login" /></div>
                        <!-- <a href="#" class="forgot">비밀번호를 잃어버리셨나요 ?</a> -->
                    </form>
                </div>
                <div class="form signupForm">
                    <form th:action="@{/create}" method="post" onsubmit="return false">
                        <h3>Sign Up</h3>
                        <input type="text" placeholder="Username" name="username" />
                        <input type="password" placeholder="Password" name="password" />
                        <input type="password" placeholder="Confirm Password" name="confirm-password" />
                        <div><input class="signupSbm" type="submit" value="Register" /></div>
                    </form>
                </div>
            </div>
            <script>
                const signinBtn = document.querySelector('.signinBtn');
                const signupBtn = document.querySelector('.signupBtn');
                const formBx = document.querySelector('.formBx');
                const body = document.querySelector('body');
                const signupSbm = document.querySelector('.signupSbm');

                const popup = () => {
                    const noti = document.querySelector('.notiArea');

                    (noti === null ) ? false : noti.classList.add('hidden');
                };

                const formData = (form) => {
                    const result = new FormData();

                    result.append('username', form.username.value);
                    result.append('password', form.password.value);

                    return result;
                };

                const userInfo = () => {
                    const userForm = document.querySelector('.signupForm>form');

                    return formData(userForm);
                };

                const autoLogin = () => {
                    const loginForm = document.querySelector('.signinForm>form');
                    const createdInfo = userInfo();

                    loginForm.username.value = createdInfo.get('username');
                    loginForm.password.value = createdInfo.get('password');

                    loginForm.submit();
                }

                const putErrorMessage = (message) => {
                    return message;
                }

                signupBtn.onclick = () => {
                    formBx.classList.add('active');
                    body.classList.add('active');
                };

                signinBtn.onclick = () => {
                    formBx.classList.remove('active');
                    body.classList.remove('active');
                };

                signupSbm.onclick = () => {
                    makeFetch('/create', {method: 'POST', body:userInfo()}, (result)=>{
                        (result.success) ? autoLogin() : putErrorMessage(result.message);
                    });
                };

                window.onload = () => {
                    setTimeout(popup, 3000);
                }
            </script>
        </div>
    </div>
</body>

</html>