@import "reset.css";

.menu-bar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 50px;
  background-color: tomato;
}

.item-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.user-component:first-child {
  background-color: blue;
}

.user-component:nth-child(2) {
  background-color: yellow;
}

.user-component__title {
  font-size: 22px;
}

.status-bar {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 40px;
  background-color: green;
}
