@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
/* components */
@import "component/menu-bar.css";
@import "component/user-component.css";
@import "component/status-bar.css";
@import "component/item-form.css";
/* screen */
@import "screen/item-screen.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.item-grid {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.item-grid__row {
  display: flex;
  flex-direction: row;
}

.item-grid__column {
  width: 115px;
}

.item-grid__column:nth-child(odd) {
  border: solid 1px;
}

.item-grid__column:nth-child(even) {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.item-grid__column:last-child {
  border-right: solid 1px;
}

.item-grid__column:nth-child(2n + 1):not(:nth-child(3)):nth-child(-n + 6) {
  width: 75px;
}

.item-grid__column:nth-child(3) {
  width: 95px;
}

.item-grid__column:nth-child(4n) {
  width: 225px;
}

.item-grid__row:nth-child(n + 2) .item-grid__column {
  border: none;
  border-left: solid 1px;
  border-bottom: solid 1px;
}

.item-grid__row:nth-child(n + 2) .item-grid__column:last-child {
  border-right: solid 1px;
}
